<form action="/books" method="POST">
    <div>
        <label for="bookName">Name of Book: </label>
        <input type="text" id="bookName" name="bookName">
    </div>
    <div>
        <label for="bookAuthor">Name of Book's Author: </label>
        <input type="text" id="bookAuthor" name="bookAuthor">
    </div>
    <div>
        <label for="bookImage">Book's Image Link: </label>
        <input type="text" id="bookImage" name="bookImage">
    </div>
    <button type="submit">Save</button>
</form>