<%- layout('layouts/boilerplate') %>

<h1>Book Page</h1>

<% for( let index = 0; index < books.length; index++ ) { %>
    id: <%= books[index].id %> <br>
    Name of Book: <%= books[index].bookname %> <br>
    Author's Name: <%= books[index].bookauthor %>
<% } %>