<%- layout('layouts/boilerplate') %>

<article class="card"  style="width: 28rem;">
    <img src="<%= book.bookimage %>" class="card-img-top" alt="Broken Image">
    <div class="card-body">
        <h5 class="card-title">
            <%= book.bookname %>
        </h5>
        <div class="card-subtitle text-muted text-small">
            By <%= book.bookauthor %>
        </div>
    </div>
</article>